.list-option{
    display: flex;
    
}
.list-option li{
    list-style:none;
    background: rgb(226, 127, 14);
    margin:5px;
    padding: 8px 20px;
    letter-spacing: 1px;
    cursor: pointer;
}

.list-option li.active{
     background: rgb(179, 109, 4);
     color:white;
}